# Part 1: Data Cleaning and Preprocessing

## 1.1 Load and Inspect the Dataset
    a. Load the dataset and display its shape, colum names, and data types

In [65]:
import pandas as pd
df = pd.read_csv("Building_Energy_Benchmarking.csv")
df.head(10)

,Property Id,Property Name,Address 1,City,Postal Code,Province,Primary Property Type - Self Selected,Number of Buildings,Year Built,Property GFA - Self-Reported (m²),...,Direct GHG Emissions (Metric Tons CO2e),Direct GHG Emissions Intensity (kgCO2e/m²),Electricity Use - Grid Purchase (kWh),Natural Gas Use (GJ),District Hot Water Use (GJ),Electricity Use – Generated from Onsite Renewable Systems (kWh),Green Power - Onsite and Offsite (kWh),Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e),Year Ending,Unique ID
0,10176804,Acadia Aquatic & Fitness Centre,9009 Fairmount Dr SE,Calgary,T2H 0Z4,Alberta,Heated Swimming Pool,1,2010,1838,...,280,152.4,368616,5453,NaN,NaN,368616.0,171.0,2023,2023-10176804
1,6169481,Ad Valorem,2924 11 ST NE,Calgary,t2e7l7,Alberta,Office,1,1981,7770,...,243,31.2,1091854,4725,NaN,NaN,1091854.0,508.0,2023,2023-6169481
2,6305956,Alberta Trade Centre,315 10 AV SE,Calgary,T2G 0W2,Alberta,Office,1,1974,6681,...,0,0.0,508589,3,2180,NaN,508589.0,236.0,2023,2023-6305956
3,8854296,Andrew Davison,133 6 AV SE,Calgary,T2G0G2,Alberta,Office,1,1979,17468,...,26,1.5,1152308,506,6582,NaN,1152308.0,536.0,2023,2023-8854296
4,21988603,Animal Services Centre,2201 PORTLAND ST SE,Calgary,T2G 4M7,Alberta,Office,1,2000,2143,...,253,118.1,508594,4926,NaN,NaN,508594.0,236.0,2023,2023-21988603
5,21988595,Apparatus Repair Shop and Spare Apparatus Shop,1725 18 AV NE,Calgary,T2N 2H8,Alberta,"Repair Services (Vehicle, Shoe, Locksmith, etc.)",2,2011,6632,...,179,26.9,604506,3480,NaN,NaN,604506.0,281.0,2023,2023-21988595
6,10417704,Beltline Aquatic & Fitness Centre,221 12 Av SW,Calgary,T2R 0G9,Alberta,Fitness Center/Health Club/Gym,1,1988,1807,...,117,64.6,180718,2274,NaN,NaN,180718.0,84.0,2023,2023-10417704
7,9481172,Bob Bohan Aquatic and Fitness Centre,4812 14 Av SE,Calgary,T2AoK9,Alberta,Heated Swimming Pool,1,1976,1641,...,304,185.0,597416,5914,NaN,NaN,597416.0,278.0,2023,2023-9481172
8,10439156,Bowmont Civic Building,5000 Bowness Civic Building,Calgary,T3B 0B9,Alberta,Office,1,1974,832,...,24,28.8,62980,466,NaN,NaN,62980.0,29.0,2023,2023-10439156
9,8854297,Calgary Public Building,205 8 AV SE,Calgary,T2G0K7,Alberta,Office,1,1931,15195,...,240,15.8,873097,4666,NaN,NaN,873097.0,406.0,2023,2023-8854297

In [67]:
print("Shape:", df.shape)
print(('_'*70))
print("List of columns:\n", df.columns)
print(('_'*70))
print("Data Types:\n")
df.info()

Shape: (494, 31)
______________________________________________________________________
List of columns:
 Index(['Property Id', 'Property Name', 'Address 1', 'City', 'Postal Code',
       'Province', 'Primary Property Type - Self Selected',
       'Number of Buildings', 'Year Built',
       'Property GFA - Self-Reported (m²)', 'ENERGY STAR Score',
       'Site Energy Use (GJ)', 'Weather Normalized Site Energy Use (GJ)',
       'Site EUI (GJ/m²)', 'Weather Normalized Site EUI (GJ/m²)',
       'Source Energy Use (GJ)', 'Weather Normalized Source Energy Use (GJ)',
       'Source EUI (GJ/m²)', 'Weather Normalized Source EUI (GJ/m²)',
       'Total GHG Emissions (Metric Tons CO2e)',
       'Total GHG Emissions Intensity (kgCO2e/m²)',
       'Direct GHG Emissions (Metric Tons CO2e)',
       'Direct GHG Emissions Intensity (kgCO2e/m²)',
       'Electricity Use - Grid Purchase (kWh)', 'Natural Gas Use (GJ)',
       'District Hot Water Use (GJ)',
       'Electricity Use – Generated from Onsite Renewable Systems (kWh)',
       'Green Power - Onsite and Offsite (kWh)',
       'Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e)',
       'Year Ending', 'Unique ID'],
      dtype='object')
______________________________________________________________________
Data Types:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 31 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Property Id                                                            494 non-null    int64
 1   Property Name                                                          494 non-null    object
 2   Address 1                                                              494 non-null    object
 3   City                                                                   494 non-null    object
 4   Postal Code                                                            494 non-null    object
 5   Province                                                               494 non-null    object
 6   Primary Property Type - Self Selected                                  494 non-null    object
 7   Number of Buildings                                                    494 non-null    int64
 8   Year Built                                                             494 non-null    int64
 9   Property GFA - Self-Reported (m²)                                      494 non-null    object
 10  ENERGY STAR Score                                                      165 non-null    float64
 11  Site Energy Use (GJ)                                                   494 non-null    object
 12  Weather Normalized Site Energy Use (GJ)                                494 non-null    object
 13  Site EUI (GJ/m²)                                                       494 non-null    float64
 14  Weather Normalized Site EUI (GJ/m²)                                    494 non-null    float64
 15  Source Energy Use (GJ)                                                 494 non-null    object
 16  Weather Normalized Source Energy Use (GJ)                              492 non-null    object
 17  Source EUI (GJ/m²)                                                     494 non-null    float64
 18  Weather Normalized Source EUI (GJ/m²)                                  494 non-null    float64
 19  Total GHG Emissions (Metric Tons CO2e)                                 494 non-null    object
 20  Total GHG Emissions Intensity (kgCO2e/m²)                              494 non-null    float64
 21  Direct GHG Emissions (Metric Tons CO2e)                                494 non-null    object
 22  Direct GHG Emissions Intensity (kgCO2e/m²)                             494 non-null    float64
 23  Electricity Use - Grid Purchase (kWh)                                  494 non-null    object
 24  Natural Gas Use (GJ)                                                   484 non-null    object
 25  District Hot Water Use (GJ)                                            15 non-null     object
 26  Electricity Use – Generated from Onsite Renewable Systems (kWh)        44 non-null     float64
 27  Green Power - Onsite and Offsite (kWh)                                 296 non-null    float64
 28  Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e)  296 non-null    float64
 29  Year Ending                                                            494 non-null    int64
 30  Unique ID                                                              494 non-null    object
dtypes: float64(10), int64(4), object(17)
memory usage: 119.8+ KB

    b. Identify and list the number of missing values in each column

In [70]:
# Detect Missing Values in the DataFrame
df.isnull()

,Property Id,Property Name,Address 1,City,Postal Code,Province,Primary Property Type - Self Selected,Number of Buildings,Year Built,Property GFA - Self-Reported (m²),...,Direct GHG Emissions (Metric Tons CO2e),Direct GHG Emissions Intensity (kgCO2e/m²),Electricity Use - Grid Purchase (kWh),Natural Gas Use (GJ),District Hot Water Use (GJ),Electricity Use – Generated from Onsite Renewable Systems (kWh),Green Power - Onsite and Offsite (kWh),Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e),Year Ending,Unique ID
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
490,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
491,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
492,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
493,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False

In [72]:
# Count Missing Values per Column
df.isna().sum()

Property Id                                                                0
Property Name                                                              0
Address 1                                                                  0
City                                                                       0
Postal Code                                                                0
Province                                                                   0
Primary Property Type - Self Selected                                      0
Number of Buildings                                                        0
Year Built                                                                 0
Property GFA - Self-Reported (m²)                                          0
ENERGY STAR Score                                                        329
Site Energy Use (GJ)                                                       0
Weather Normalized Site Energy Use (GJ)                                    0
Site EUI (GJ/m²)                                                           0
Weather Normalized Site EUI (GJ/m²)                                        0
Source Energy Use (GJ)                                                     0
Weather Normalized Source Energy Use (GJ)                                  2
Source EUI (GJ/m²)                                                         0
Weather Normalized Source EUI (GJ/m²)                                      0
Total GHG Emissions (Metric Tons CO2e)                                     0
Total GHG Emissions Intensity (kgCO2e/m²)                                  0
Direct GHG Emissions (Metric Tons CO2e)                                    0
Direct GHG Emissions Intensity (kgCO2e/m²)                                 0
Electricity Use - Grid Purchase (kWh)                                      0
Natural Gas Use (GJ)                                                      10
District Hot Water Use (GJ)                                              479
Electricity Use – Generated from Onsite Renewable Systems (kWh)          450
Green Power - Onsite and Offsite (kWh)                                   198
Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e)    198
Year Ending                                                                0
Unique ID                                                                  0
dtype: int64

## 1.2 Handling Missing Data
    a. Drop columns with more then 40% missing values
    b. For numerical columns, fill missing values with the median of their respective column
    c. For categorical colums, fill missing values with the mode oftheir respective column

In [75]:
# Percentage of missing data
missing_data = df.isnull().mean() * 100
print("Percentage of Missing Data per Column:\n")
print(missing_data)

Percentage of Missing Data per Column:

Property Id                                                               0.000000
Property Name                                                             0.000000
Address 1                                                                 0.000000
City                                                                      0.000000
Postal Code                                                               0.000000
Province                                                                  0.000000
Primary Property Type - Self Selected                                     0.000000
Number of Buildings                                                       0.000000
Year Built                                                                0.000000
Property GFA - Self-Reported (m²)                                         0.000000
ENERGY STAR Score                                                        66.599190
Site Energy Use (GJ)                                                      0.000000
Weather Normalized Site Energy Use (GJ)                                   0.000000
Site EUI (GJ/m²)                                                          0.000000
Weather Normalized Site EUI (GJ/m²)                                       0.000000
Source Energy Use (GJ)                                                    0.000000
Weather Normalized Source Energy Use (GJ)                                 0.404858
Source EUI (GJ/m²)                                                        0.000000
Weather Normalized Source EUI (GJ/m²)                                     0.000000
Total GHG Emissions (Metric Tons CO2e)                                    0.000000
Total GHG Emissions Intensity (kgCO2e/m²)                                 0.000000
Direct GHG Emissions (Metric Tons CO2e)                                   0.000000
Direct GHG Emissions Intensity (kgCO2e/m²)                                0.000000
Electricity Use - Grid Purchase (kWh)                                     0.000000
Natural Gas Use (GJ)                                                      2.024291
District Hot Water Use (GJ)                                              96.963563
Electricity Use – Generated from Onsite Renewable Systems (kWh)          91.093117
Green Power - Onsite and Offsite (kWh)                                   40.080972
Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e)    40.080972
Year Ending                                                               0.000000
Unique ID                                                                 0.000000
dtype: float64

In [77]:
# Drop columns/rows with more than 40% missing values
df_cleaned = df.drop(columns=missing_data[missing_data > 40].index)
df_cleaned = df_cleaned.dropna(thresh=int(df_cleaned.shape[1] * 0.6), axis=0)
df_cleaned.head(5)

,Property Id,Property Name,Address 1,City,Postal Code,Province,Primary Property Type - Self Selected,Number of Buildings,Year Built,Property GFA - Self-Reported (m²),...,Source EUI (GJ/m²),Weather Normalized Source EUI (GJ/m²),Total GHG Emissions (Metric Tons CO2e),Total GHG Emissions Intensity (kgCO2e/m²),Direct GHG Emissions (Metric Tons CO2e),Direct GHG Emissions Intensity (kgCO2e/m²),Electricity Use - Grid Purchase (kWh),Natural Gas Use (GJ),Year Ending,Unique ID
0,10176804,Acadia Aquatic & Fitness Centre,9009 Fairmount Dr SE,Calgary,T2H 0Z4,Alberta,Heated Swimming Pool,1,2010,1838,...,4.47,4.91,509,276.7,280,152.4,368616,5453,2023,2023-10176804
1,6169481,Ad Valorem,2924 11 ST NE,Calgary,t2e7l7,Alberta,Office,1,1981,7770,...,1.57,1.64,920,118.4,243,31.2,1091854,4725,2023,2023-6169481
2,6305956,Alberta Trade Centre,315 10 AV SE,Calgary,T2G 0W2,Alberta,Office,1,1974,6681,...,0.94,1.00,499,74.6,0,0.0,508589,3,2023,2023-6305956
3,8854296,Andrew Davison,133 6 AV SE,Calgary,T2G0G2,Alberta,Office,1,1979,17468,...,0.97,1.04,1293,74.0,26,1.5,1152308,506,2023,2023-8854296
4,21988603,Animal Services Centre,2201 PORTLAND ST SE,Calgary,T2G 4M7,Alberta,Office,1,2000,2143,...,4.00,4.27,568,265.2,253,118.1,508594,4926,2023,2023-21988603

In [79]:
df_cleaned.isna().sum()

Property Id                                    0
Property Name                                  0
Address 1                                      0
City                                           0
Postal Code                                    0
Province                                       0
Primary Property Type - Self Selected          0
Number of Buildings                            0
Year Built                                     0
Property GFA - Self-Reported (m²)              0
Site Energy Use (GJ)                           0
Weather Normalized Site Energy Use (GJ)        0
Site EUI (GJ/m²)                               0
Weather Normalized Site EUI (GJ/m²)            0
Source Energy Use (GJ)                         0
Weather Normalized Source Energy Use (GJ)      2
Source EUI (GJ/m²)                             0
Weather Normalized Source EUI (GJ/m²)          0
Total GHG Emissions (Metric Tons CO2e)         0
Total GHG Emissions Intensity (kgCO2e/m²)      0
Direct GHG Emissions (Metric Tons CO2e)        0
Direct GHG Emissions Intensity (kgCO2e/m²)     0
Electricity Use - Grid Purchase (kWh)          0
Natural Gas Use (GJ)                          10
Year Ending                                    0
Unique ID                                      0
dtype: int64

In [81]:
#mpute missing values in numerical columns using the median/Categorical columns using the mode.
numerical_columns = df_cleaned.select_dtypes(include=['float64', 'int64']).columns
df_cleaned[numerical_columns] = df_cleaned[numerical_columns].fillna(df_cleaned[numerical_columns].median())

categorical_columns = df_cleaned.select_dtypes(include=['object', 'category']).columns
df_cleaned[categorical_columns] = df_cleaned[categorical_columns].fillna(df_cleaned[categorical_columns].mode().iloc[0])

## 1.3 Extracting and Cleaning Data Using Regex
    a. Extract numeric values from text-based numeric columns (e.g., Property GFA, Energy Use, Emissions)
    b. Standardize Postal Codes to follow the Canadian format (A1A 1A1)
    c. Clean and extract meaningful text from Property Names and Addresses
    d. Ensure extracted values are properly converted to numerical types for analysis

In [84]:
import re
#Find object columns with numerical value
def find_str_num(df):                                                                      
    numeric_columns = []         #Initializing lit to store col name that are str and contains int                                                    
    for col in df.select_dtypes(include=['object']).columns:              #loop through all string columns of df            
        if df[col].astype(str).str.match(r'^-?\d+(\.\d+)?$', na=False).any():    #if at least 1 value matches, is considered num    
            numeric_columns.append(col)                    #if previous line is true, the column name is stored                           
    return numeric_columns
names = find_str_num(df_cleaned)                           #function applied to df_cleaned
print(('_'*70))
print("Columns w Numeric values in text-based format:\n")
print(names)

______________________________________________________________________
Columns w Numeric values in text-based format:

['Property GFA - Self-Reported (m²)', 'Site Energy Use (GJ)', 'Weather Normalized Site Energy Use (GJ)', 'Source Energy Use (GJ)', 'Weather Normalized Source Energy Use (GJ)', 'Total GHG Emissions (Metric Tons CO2e)', 'Direct GHG Emissions (Metric Tons CO2e)', 'Electricity Use - Grid Purchase (kWh)', 'Natural Gas Use (GJ)']

In [86]:
#Extract the numerical values from 'object' columns
for col in names:                                                        #iterates through the list names
#transform-uses regular expresion to find num values in string 
#convert x to str before applying re find all, in case where x is not a string
#return the matches and converts the extracted number to float, is no matches, return None
    df_cleaned[col] = df_cleaned[col].apply(lambda x: float(re.findall(r'-?\d+\.?\d*', str(x))[0]) if re.findall(r'-?\d+\.?\d*', str(x)) else None)

#Standardize Postal Codes to follow the Canadian format (A1A 1A1) - I will use a function
#the upper converts to Capital letters
#\w\d\w these represent the 3 first characteres, as letter, digit, letter
#\s? matches if the space exist or no
#\d\w\d these represent the 3 last characteres, as digit, letter, digit
#r'\1 \2'these is the replacement : 1st group, space, 2nd group
df['Postal Code'] = df['Postal Code'].str.upper().str.replace(r'(\w\d\w)\s?(\d\w\d)',r'\1 \2', regex=True)
print(('_'*70))
print("Standardized Postal Codes:\n")
df.head(3)

______________________________________________________________________
Standardized Postal Codes:

,Property Id,Property Name,Address 1,City,Postal Code,Province,Primary Property Type - Self Selected,Number of Buildings,Year Built,Property GFA - Self-Reported (m²),...,Direct GHG Emissions (Metric Tons CO2e),Direct GHG Emissions Intensity (kgCO2e/m²),Electricity Use - Grid Purchase (kWh),Natural Gas Use (GJ),District Hot Water Use (GJ),Electricity Use – Generated from Onsite Renewable Systems (kWh),Green Power - Onsite and Offsite (kWh),Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e),Year Ending,Unique ID
0,10176804,Acadia Aquatic & Fitness Centre,9009 Fairmount Dr SE,Calgary,T2H 0Z4,Alberta,Heated Swimming Pool,1,2010,1838,...,280,152.4,368616,5453,NaN,NaN,368616.0,171.0,2023,2023-10176804
1,6169481,Ad Valorem,2924 11 ST NE,Calgary,T2E 7L7,Alberta,Office,1,1981,7770,...,243,31.2,1091854,4725,NaN,NaN,1091854.0,508.0,2023,2023-6169481
2,6305956,Alberta Trade Centre,315 10 AV SE,Calgary,T2G 0W2,Alberta,Office,1,1974,6681,...,0,0.0,508589,3,2180,NaN,508589.0,236.0,2023,2023-6305956

In [88]:
#Clean and extract meaningful text from Property Names and Addresses
#This taks looks for a personal approach, so I will standardize the Address information
df['Address 1']=df['Address 1'].replace({
    r'(?i)\bSt\b':'Street',
    r'(?i)\bBv\b':'Boulevard',
    r'(?i)\bBlv\b':'Boulevard',
    r'(?i)\bBvd\b':'Boulevard',
    r'(?i)\bAv\b':'Avenue',
    r'(?i)\bAve\b':'Avenue',
    r'(?i)\bTr\b': 'Trail',
    r'(?i)\bRd\b':'Road',
    r'(?i)\bDv\b':'Drive',
     r'(?i)\bDr\b':'Drive',
    r'(?i)\bGa\b':'Gate',
    r'(?i)\bGt\b':'Gate',
    r'(?i)\bW\b':'Way',
    r'(?i)\bNE\b':'North East',
    r'(?i)\bNW\b':'North West',
    r'(?i)\bSE\b':'South East',
    r'(?i)\bSW\b':'South Weast',},regex=True)
#I will aslso delete the city and postal code that appear in this columns
#There are already columns for those variable, so it is unnecessary to have them here
df['Address 1']=df['Address 1'].str.replace(r', Calgary.*$','',regex=True)

#The last step for this column is to guarantee a uniform style
df['Address 1']=df['Address 1'].str.strip().str.title()

#Visualize changes
print(df['Address 1'])

0           9009 Fairmount Drive South East
1                 2924 11 Street North East
2                  315 10 Avenue South East
3                   133 6 Avenue South East
4           2201 Portland Street South East
                       ...
489                311 34 Avenue South East
490               4705 76 Avenue South East
491     1940 Westmount Boulevard North West
492             2607 106 Avenue South Weast
493    10071 Hidden Valley Drive North West
Name: Address 1, Length: 494, dtype: object

In [96]:
#Ensure extracted values are properly converted to numerical types for analysis.
print(('_'*70))
print("Data convertion validation:\n")
print(df_cleaned.info())
print("Here we can confirm the transformation was successful by comparing the Dtype\n"
      "of Columns such as 'Property GFA -Self...', 'Site Energy U..', and "
      "'Weather Normalized Site E..', which were object in the original df.")

______________________________________________________________________
Data convertion validation:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 26 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Property Id                                 494 non-null    int64
 1   Property Name                               494 non-null    object
 2   Address 1                                   494 non-null    object
 3   City                                        494 non-null    object
 4   Postal Code                                 494 non-null    object
 5   Province                                    494 non-null    object
 6   Primary Property Type - Self Selected       494 non-null    object
 7   Number of Buildings                         494 non-null    int64
 8   Year Built                                  494 non-null    int64
 9   Property GFA - Self-Reported (m²)           494 non-null    float64
 10  Site Energy Use (GJ)                        494 non-null    float64
 11  Weather Normalized Site Energy Use (GJ)     494 non-null    float64
 12  Site EUI (GJ/m²)                            494 non-null    float64
 13  Weather Normalized Site EUI (GJ/m²)         494 non-null    float64
 14  Source Energy Use (GJ)                      494 non-null    float64
 15  Weather Normalized Source Energy Use (GJ)   494 non-null    float64
 16  Source EUI (GJ/m²)                          494 non-null    float64
 17  Weather Normalized Source EUI (GJ/m²)       494 non-null    float64
 18  Total GHG Emissions (Metric Tons CO2e)      494 non-null    float64
 19  Total GHG Emissions Intensity (kgCO2e/m²)   494 non-null    float64
 20  Direct GHG Emissions (Metric Tons CO2e)     494 non-null    float64
 21  Direct GHG Emissions Intensity (kgCO2e/m²)  494 non-null    float64
 22  Electricity Use - Grid Purchase (kWh)       494 non-null    float64
 23  Natural Gas Use (GJ)                        494 non-null    float64
 24  Year Ending                                 494 non-null    int64
 25  Unique ID                                   494 non-null    object
dtypes: float64(15), int64(4), object(7)
memory usage: 100.5+ KB
None
Here we can confirm the transformation was successful by comparing the Dtype
of Columns such as 'Property GFA -Self...', 'Site Energy U..', and 'Weather Normalized Site E..', which were object in the original df.